:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#gameCanvas {
  border: 1px solid red;
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 80vh;
  display: block;
}

.gameUI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accClr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.gameUI *{
  text-align: center;
  margin-top: 5px;
}

#gameStartDiv{
  display:flex;
}

#gameEndDiv{
  display:none;
}

#gameStartBtn{
  display:inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;;
}

#gameStartBtn p{
  margin-top: 0;
}

#gameStartBtn:hover{
  background-color: var(--dkClr);
  border: 0.5px solid var(--liClr);
  color: var(--liClr);
  cursor: pointer;
}